:root{
  --primary-black:#161616;
  --CTA: #ff316d;
  --CTA-light: #fa749a;
  --gray-subnav:#393a3b;
  --rating-green:#24963f;
}
.footer{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-black);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text{
  color: white;
}
input{
outline: none !important;
border-color: transparent;
}


.divide{
  height: 0.0625rem;
  background-color:var(--primary-black);
  width: 90%;
  margin: 0.5rem auto;
}
.App{
  display: flex;
  width: 80%;
  margin: 2rem auto;
  justify-content: center;
align-items: center;
}
.index-btn{
  padding: 0.5rem 0.75rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  background-color: var(--primary-black);
  color: white;
}
.index-btn:hover span{
color: var(--CTA);
cursor: pointer;

}