.home-banner{
    display: flex; 
    flex-direction: column;
}
.home-banner-img{
    width: 100%;

}
.banner-text{
margin-top:-27rem;
text-align: center;
margin-bottom: 25rem;

}
.banner-logo{
    font-size: 4rem;
    color: white; 
  font-weight: 300;
 font-size: 4rem;
    display: inline;
}
.banner-logo-cta{
    font-size: 4rem;
    color: var(--CTA);
  font-weight: 300;
 font-size: 4rem;
    display: inline;
}
.banner-head{
    display: block;
     filter: brightness(130%);
     background-image:  linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      );
}
.banner-logo-subtext {
    display: block;
     filter: brightness(130%);
     background-image:  linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      );
}
.home-card-parent{
    display: grid;
    width: 90%;
    height: 30rem;
    margin: 1rem auto;
    grid-gap: 1rem;
  grid-template-columns: repeat(2, [col-start] 1fr);
margin-bottom: 3rem;
}
.home-card-landscape{
    width: 80%;
    margin:  auto;
    border: 2px solid whitesmoke;
    border-radius: 1rem;
}
.home-card-landscape:hover{
        background-color: whitesmoke;
        cursor: pointer;
}
.home-card-landscape img{
    width: 100%;
    border-radius: 1rem;
}
/* .home-card-landscape img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out 0.1s;
} */


/* 
.card-subtitle{
    font-weight: 400;
display: inline-block;
    font-size: 0.9rem;
    margin: 0.25rem;
    padding-left: 0;
} 
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rating-green);
    color: white;
    border-radius: 0.5rem;
    width: 25%;
    text-align: center;
}
.r-star{
    background-color: transparent;
    margin: auto 0.25rem;
    color: white;
}
.rating-num{
    display: inline;
    margin: auto 0.25rem;
    font-weight: 500;
}
.prod-abt{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding: 0.5rem;    
}
.card:hover{
    background-color: whitesmoke;
}
.product-list{
    display: grid;
    width: 100%;
    grid-gap: 1rem;
  grid-template-columns: repeat(3, [col-start] 1fr);
  
}

.hor-flex{
    padding: 0.25rem 1rem;
}
.price{
    display: flex;
    align-items: center;
text-align: center;
}

.card-btn button{
    color: var(--CTA);
    background-color: transparent;
    border: 2px solid var(--CTA);
    padding: 0.25rem 0.8rem;
    border-radius: 0.8rem;
}

=======
.card-heading{
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem 0.5rem;
}
.card-subheading{
    padding: 0.5rem;
    margin: 1rem 0.5rem;
} */

